
@font-face {
  font-family: 'PlusJakartaSans';
  src: local('PlusJakartaSans'), url('./fonts/PlusJakartaSans-Regular.woff') format('woff'),url('./fonts/PlusJakartaSans-Regular.woff2') format('woff2');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, PlusJakartaSans-Regular, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*{
  font-family: 'PlusJakartaSans'!important;
  padding:0;
  margin:0;
  line-height:0;
}
