
@font-face {
  font-family: 'PlusJakartaSans-Regular';
  src: local('MyFont'), url(../public/PlusJakartaSans-Regular.ttf) format('woff');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, PlusJakartaSans-Regular, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




